#Usernamebar, #Passbar, #Userlabel, #Passlabel, #ShowPass, #salesLabel,#DiosarapLabel{
     -fx-text-fill : white;
    
    
}

#LoginPane {
     -fx-background-color : #2D3142;
     -fx-background-radius: 30;  
}

#LoginButton {
     -fx-background-color : #FF6F59;
       -fx-background-radius: 30;  
}

#LoginPane {

  -fx-background-color : #2D3142;
}

#DiosarapLabel{
   -fx-font-weight: bold; 
}