#UPPERBAR {
    -fx-background-color :#303344;
}


#TITLETEXT, #DASHBOARDTEXT, #SALESRECORDTEXT, #MANAGEUSERSTEXT, #SESSIONLOGTEXT, #TOTALPROFITTEXT1, #TOTALPROFITTEXT2, #TOTALPROFITTEXT3, #TOTALPROFITTEXT4,#TOTALSALESTEXT1, #TOTALSALESTEXT2, 
#TOTALPROFITTEXT5, #TOTALPROFITTEXT6, #TOTALEXPENSESTEXT1, #TOTALEXPENSESTEXT2, #TOTALPROFITTEXT7, #TOTALPROFITTEXT8, #MOSTSOLDITEMTEXT1, #MOSTSOLDITEMTEXT2, #LEASTSOLDITEMTEXT1, #LEASTSOLDITEMTEXT2, #YEARBAR1, 
#MONTHBAR1, #YEARBAR2, #MONTHBAR2, #PROFITTEXT, #SALESTEXT, #EXPENSESTEXT{
    -fx-text-fill : #fffeff;
}

#SIDEBAR, #TOTALPROFIT1, #TOTALPROFIT2, #TOTALPROFIT3, #TOTALPROFIT4, #TOTALSALES, #TOTALPROFIT3, #TOTALEXPENSES, #TOTALPROFIT4, #MOSTSOLDITEMBAR1, #MOSTSOLDITEMBAR2, #LEASTSOLDITEMBAR1, #LEASTSOLDITEMBAR2,
 #PROFITBAR, #SALESBAR, #EXPENSESBAR {
    -fx-background-color :#2e3142;
}

#BAR1, #BAR2, #BAR3, #BAR4, #BAR5, #BAR6, #FOOD1, #FOOD2, #FOOD3, #FOOD4, #FOOD5, #FOOD6, #AMOUNT1, #AMOUNT2, #AMOUNT3, #AMOUNT4, #AMOUNT5, #AMOUNT6, #BAR7, #BAR8, #BAR9, 
#BAR10, #BAR11, #BAR12, #FOOD7, #FOOD8, #FOOD9, #FOOD10, #FOOD11, #FOOD12, #AMOUNT7, #AMOUNT8, #AMOUNT9, #AMOUNT10, #AMOUNT11, #AMOUNT12{
    -fx-background-color :#fffeff;
}
#BAR1, #BAR2, #BAR3, #BAR4, #BAR5, #BAR6, #FOOD1, #FOOD2, #FOOD3, #FOOD4, #FOOD5, #FOOD6, #AMOUNT1, #AMOUNT2, #AMOUNT3, #AMOUNT4, #AMOUNT5, #AMOUNT6, 
#BAR7, #BAR8, #BAR9, #BAR10, #BAR11, #BAR12, #FOOD7, #FOOD8, #FOOD9, #FOOD10, #FOOD11, #FOOD12, #AMOUNT7, #AMOUNT8, #AMOUNT9, #AMOUNT10, #AMOUNT11, #AMOUNT12{
    -fx-text-fill : #303344;
}

 #YEARBAR1, #MONTHBAR1, #YEARBAR2, #MONTHBAR2{
    -fx-background-color :#ff6f5a;
}